<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mzz.zmusicplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MusicApplication"
        android:allowBackup="true"
        android:icon="@drawable/music"
        android:label="@string/app_name"
        android:roundIcon="@drawable/music"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.AppSettingActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/StyledIndicators">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MusicSearchActivity"
            android:label="搜索" />
        <activity
            android:name=".ui.SongPickerActivity"
            android:label="添加歌曲" />
        <activity
            android:name=".ui.SongEditActivity"
            android:label="编辑歌曲" />

        <service
            android:name=".play.PlaybackService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mzz.zmusicplayer.ACTION.PLAY_TOGGLE" />
                <action android:name="com.mzz.zmusicplayer.ACTION.FAVORITE" />
                <action android:name="com.mzz.zmusicplayer.ACTION.PLAY_NEXT" />
                <action android:name="com.mzz.zmusicplayer.ACTION.PLAY_PRE" />
                <action android:name="com.mzz.zmusicplayer.ACTION.STOP_SERVICE" />
                <action android:name="com.mzz.zmusicplayer.ACTION.PLAY_MODE" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.HeadsetReceiver" />
    </application>

</manifest>